/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is
	4 columns (25%). 5 columns would be 20%, 6 columns would
	be 16.6%, etc.
------------------------------------------------------------ */
.clearfix {height:1%}

.clearfix:after {
	content:".";
	height:0;
	line-height:0;
	display:block;
	visibility:hidden;
	clear:both;
}

#view_org{
margin-bottom:30px;
overflow:auto;
}
#view_org li {list-style:none;text-align:center}
#view_org li, #view_org dd{margin:0}
/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is
	4 columns (25%). 5 columns would be 20%, 6 columns would
	be 16.6%, etc.
------------------------------------------------------------ */

/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#primaryNav {
	margin: 60px 0 30px 0;
    height:auto;
    overflow:auto;
}
#primaryNav li ul{background:url('../images/vertical-line.png') 9px -30px repeat-y;}

#primaryNav li {
	float: left;
	padding: 60px 10px 10px 10px;
	margin:-60px 0 0 0;
    width:300px;
}


#primaryNav > li span {
	padding: 10px 0;
    width:300px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #c3eafb url('../images/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */
}

#primaryNav li span:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}

span:link:before,
span:visited:before {
	content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
#primaryNav li span:link:before,
#primaryNav li span:visited:before {
	color: #78a9c0;
}

/* --------	Second Level ---------

#primaryNav li li {
    float:right;
	width: 100%;
	margin-top: 0;
	padding: 32px 0 0 20px;
	background: url('../images/vertical-line.png') 20px top repeat-y;
}
#primaryNav li li span {
    float:right;
	background-color: #cee3ac;
	border-color: #b8da83;
    width:250px;
}

#primaryNav li li span:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}

#primaryNav li li span:link:before,
#primaryNav li li span:visited:before {
	color: #8faf5c;
}

*/
#primaryNav li li ul{background:url('../images/vertical-line.png') 20px -30px repeat-y;}
#primaryNav li li {
    float:right;
	width: 100%;
	margin-top: 0;
	padding: 32px 0 0 10px;
	background:url('../images/L1-align.png') 20px -30px no-repeat;
}
#primaryNav li li span {
    float:right;
	background-color: #cee3ac;
	border-color: #b8da83;
    width:250px;
}

#primaryNav li li span:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}

#primaryNav li li span:link:before,
#primaryNav li li span:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

#primaryNav li li ul {
	width: 250px;
    float:right;
}

#primaryNav li li li {
	/*background: url('../images/L3-center.png') 20px -30px no-repeat;*/
    background: url('../images/L1-align.png') 22px -30px no-repeat;
	padding: 25px 0 0 0;
}
#primaryNav li li li span {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 12px;
	padding: 5px 0;
	width: 200px;
}
#primaryNav li li li span:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
/*
#primaryNav li li li:first-child {
	padding: 25px 0 5px 0;
	background: url('../images/L3-li-top.png') 20px -40px no-repeat;
}
#primaryNav li li li:last-child {
	background: url('../images/L3-bottom.png') 20px -40px no-repeat;
}
*/
#primaryNav li li li span:link:before,
#primaryNav li li li span:visited:before {
	color: #ccae14;
	font-size: 9px;
}

/* Level en dessous */
#primaryNav li li li ul{
background:url('../images/vertical-line.png') 20px -30px repeat-y;
margin-right:-50px
}